/* قاعدة لتصميم صفحة التطبيق */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* تصميم العنوان */
h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  color: #333;
  margin-top: 40px;
  margin-bottom: 20px;
}

/* تصميم النموذج */

/* تصميم الجدول */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th,
table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}


table tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* تصميم الرسم البياني */
.chart-container {
  position: relative;
  margin: 0 auto;
  height: 400px;
  width: 80%;
  max-width: 600px;
}
